html{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-use-select: none;
    user-select: none;
}

body{
    margin: 0;
    background: rgb(44, 44, 44);
    color: aliceblue;
    width: 200px;
    height: 150px;
}

#speed{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#speed > #speednum{
    margin: 3% 0;
}

#speed > #buttonstyle{
    display: flex;
    width: 100%;
    height: 25%;
    align-items: center;
    justify-content: center;
}

#speed > #buttonstyle > #submit{
    width: 100px;
    border-style: double;
    border-color: aliceblue;
    border-radius: 50px;
    color: aliceblue;
    transition: .3s ease;
    background: rgb(38, 38, 38);
}

#speed > #buttonstyle > #submit:hover{
    background: aliceblue;
    color: rgb(24, 24, 24);
    border-color: rgb(24, 24, 24);
    width: 107px;
    height: 27px;
    font-size: 14px;
}